.breadcrumbs{
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #b4c6f0;
}
p{
  font-size: 14;
  font-family: 'Times New Roman', Times, serif;
}
h1{
  font-size: 30;
  font-family: 'Times New Roman', Times, serif;
}
